{% extends "DocIndexBundle::layout.html.twig" %}
{% block contain %}
<h3>Lettre vierge</h3>
<div><button id="add" data-url="{{path('_account_letter_form')}}" data-toggle="modal" data-target="#modal_id" class="btn btn-default">Créer une lettre vierge</button></div>
<div id="show" class="table-responsive">
  {{render(controller('DocIndexBundle:Letter:Show'))}}
</div>
<!-- Modal -->
<div class="modal fade" id="modal_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {{render(controller('DocIndexBundle:Letter:Form'))}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block js_footer %}
<script src="{{asset('bundles/docindex/js/letter.js')}}"></script>
{% endblock %}