{% extends "DocIndexBundle::layout.html.twig" %}
{% block contain %}
<h3>Lettre vierge</h3>
<div><button data-toggle="modal" data-target="#lettre_vierge" class="btn btn-default">Créer une lettre vierge</button></div>
<!-- Modal -->
<div class="modal fade" id="lettre_vierge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lettre vierge</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregrister</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}